@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #FFFFFF;
		--foreground: #181818;

		--card: #FFFFFF;
		--card-foreground: #181818;

		--popover: #FFFFFF;
		--popover-foreground: #181818;

		--primary: #292929;
		--primary-foreground: #E6E6E6;

		--secondary: #E6E6E6;
		--secondary-foreground: #292929;

		--muted: #E6E6E6;
		--muted-foreground: #B1B1B1;

		--accent: #E6E6E6;
		--accent-foreground: #292929;

		--destructive: #FF5C5C;
		--destructive-foreground: #E6E6E6;

		--border: #F6F6F6;
		--input: #F6F6F6;
		--ring: #181818;

		--radius: 0.6rem;
	}

	.dark {
		--background: #0F0F0F;
		--foreground: #D6D6D6;
		
		--card: #0F0F0F;
		--card-foreground: #D6D6D6;
		
		--popover: #0F0F0F;
		--popover-foreground: #D6D6D6;
		
		--primary: #F2F2F2;
		--primary-foreground: #292929;
		
		--secondary: #434343;
		--secondary-foreground: #D6D6D6;
		
		--muted: #434343;
		--muted-foreground: #7E7E7E;
		
		--accent: #434343;
		--accent-foreground: #D6D6D6;
		
		--destructive: #5C3C3C;
		--destructive-foreground: #D6D6D6;
		
		--border: #434343;
		--input: #434343;
		--ring: #CFCFCF;
	}
}

@layer base {
	* {
		@apply ns-border-border;
	}
	body {
		@apply ns-bg-background ns-text-foreground;
	}
}